#mocha {
    position: fixed;
    right: 0;
    top: 0;
    overflow:scroll;
    background: #eee;
    border: solid 1px #000;
    width: 50%;
    height: 90%;
    min-width: 320px;
    min-height: 320px;
    margin: 0 !important;

    h1, h2, h3, h4, h5, h6 { text-align: left; }

    @import "compass/reset";
}

